.shopping-cart {
  padding-top: 10px;
}

.product-image {
  float: left;
  width: 20%;
  text-align: center;
}

.product-title {
  float: left;
  width: 30%;
}

.product-price {
  float: left;
  width: 15%;
}

.product-quantity {
  float: left;
  width: 10%;
  text-align: center;
}

.product-removal {
  float: left;
  width: 15%;
  text-align: center;
}

.product-line-price {
  float: left;
  width: 10%;
  text-align: center;
}

/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
  content: "";
  display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
  clear: both;
}

.group, .shopping-cart, .column-labels, .product, .totals-item {
  zoom: 1;
}

/* Body/Header stuff */
.cart-page {
  padding: 20px 30px 30px 20px;
}

.cart-page .my-cart {
  font-size: 30px;
  font-weight: 500;
  padding: 20px 0 20px 25px;
  margin: 0;
  color: #164B60;
}

.cart-page .empty-cart {
  font-size: 18px;
  padding: 0 0px 20px 25px;
  margin-top: -15px;
}

/* Column headers */
.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
}

.column-labels .product-title, .column-labels .product-removal {
  text-indent: -9999px;
}

/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.product-title p {
  font-weight: 400;
  padding: 0 50px 0 10px;
}
.product .product-image {
  text-align: center;
}
.product .product-image img {
  width: 100px;
}
.product .product-details .product-title {
  margin-right: 20px;
}
.product .product-details .product-description {
  margin: 5px 20px 5px 0;
}
.product .remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
}
.product .remove-product:hover {
  background-color: #a44;
}

/* Totals section */
.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.totals .totals-item label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}
.totals .totals-item .totals-value {
  float: right;
  width: 21%;
  text-align: right;
}
.totals .totals-item-total {
  font-size: 25px;
}

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  font-size: 25px;
  border-radius: 3px;
}

.checkout a {
  text-decoration: none;
  color: white;
}

.checkout:hover {
  background-color: #494;
}

.shopping-cart .totals {
  padding-top: 20px;
  border-top: 1px solid grey;
}