@import url('https://fonts.googleapis.com/css?family=Open+Sans');
:root {
--theme-bg-color: white ;
--theme-color: #3761af;
}

.header {
  width: 100%;
  height: 100px;

  display: flex;
  box-shadow: 0 0 3px 0 grey;
  align-items: center;
  
  background-color: var(--theme-bg-color);
  
  color: var(--theme-color);

  user-select: none;
}

.header p {
  align-items: center;
  display: flex;
  padding-left: 45px;
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}

.header .logo:hover {
  cursor: pointer;
}

.item {
  margin: 10px;
  text-decoration: none;
  color: var(--theme-color);
}

.item.cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.item.user {
  display: flex;
  align-items: center;
  margin: 0 30px 0 10px;
}