@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

.homepage {
  display: flex;
  flex-direction: row;
}

.filter {
  height: 90vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.category-element h3 {
  display: inline;
  padding-left: 10px;
}

.product-list {
    display: flex;
    flex-direction: row;
}

.product-list a {
    text-decoration: none;
    padding: 30px;
}

.card {
  font-family: "Istok Web", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  background: #4477CE;
  position: relative;
  width: 250px;
  height: 300px;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #4f3cce;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -60%;
  transform: skewY(390deg);
}

.card::after {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.card .contentBox {
  width:60%;
  height: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .buy {
  position: relative;
  width: 45%;
  margin: auto 15px 15px auto;
  border-radius: 30px;
  text-align: center;
  top: 50px;
  opacity: 0;
  padding: 10px;
  color: #100f0f;
  background: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .buy {
  top: 0;
  opacity: 1;
}