.order-detail {
  margin-top: 100px;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  color: rgba(116, 116, 116, 0.667);
}

.order-detail a {
  text-decoration: none;
}

.order-detail p {
  font-size: 14px;
  margin-bottom: 7px;
}

.small {
  letter-spacing: 0.5px !important;
}

.order-detail .card-1 {
  width: 700px;
  box-shadow: 2px 2px 5px 0px #3761af;
}

.order-detail .card-2 {
  margin-bottom: 10px;
}

.bold {
  font-weight: 500;
}

.change-color {
  color: #3761af !important;
}

.invoice {
  position: relative;
  top: -75px;
}

.text-right {
  text-align: right;
}