.order-page{
  font-family: 'Roboto Condensed', sans-serif;
  color: #262626;
  margin: 5% 0;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px)
{
  .container{
    max-width: 1140px;
  }
}
.order-content{
  display: flex;
  background: #f6f6f6;
  border-radius: 0 0 5px 5px;
  padding: 30px 30px 40px 30px;
}
.order-form{
  flex: 5;
}
.your-order{
  flex: 2;
}
.order-title{
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #5195A8), color-stop(100, #70EAFF));
  background: -moz-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
  background: -ms-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
  background: -o-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
  background: linear-gradient(to bottom right, #5195A8 0%, #70EAFF 100%);
  border-radius:5px 5px 0 0 ;
  padding: 20px;
  color: #f6f6f6;
}
.order-title h2{
  margin: 0;
  padding-left: 15px; 
}
.required{
  color: red;
}
.order-form label{
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.order-form label>span{
  float: left;
  width: 25%;
  margin-top: 12px;
  padding-right: 10px;
}
.receive-info input{
  width: 70%;
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #dadada;
  color: #888;
}
.your-order{
  margin-top: 15px;
  padding: 20px;
  border: 1px solid #dadada;
}
.your-order table{
  width: 100%;
  margin: 0;
  padding: 0;
}
.your-order th{
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
}
.your-order tr>td:nth-child(1){
  text-align: left;
  color: #2d2d2a;
}
.your-order tr>td:nth-child(2){
  text-align: right;
  color: #52ad9c;
}
.your-order td{
  border-bottom: 1px solid #dadada;
  padding: 25px 25px 25px 0;
}

.order-content p{
  display: block;
  color: #888;
  margin: 0;
  padding-left: 25px;
}
.your-order div{
  padding: 10px 0; 
}

.payment-methods{
  padding: 20px;
}

.place-order{
  display: flex;
  justify-content: center;
}
.place-order button{
  width: 50%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: #52ad9c;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
.place-order button:hover{
  cursor: pointer;
  background: #428a7d;
}
.order-page .shopping-cart{
  padding: 50px;
}
.order-page .product-removal{
  text-indent: -9999px;
}
.order-page .product-line-price{
  text-align: center;
}