.product-detail {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.detail {
    background-color: #9DB2BF;
    padding: 50px;
    margin-bottom: 50px;
}

.product-detail .add-btn {
    display: flex;
    width: fit-content;
    flex-direction: row;
    border-radius: 40px;
    padding: 20px;
    align-items: center;
    background-color: #4477CE;
    color: white;
}

.product-detail .add-btn:hover {
    cursor: pointer;
}

.product-detail .add-btn p {
    padding-right: 10px;
    user-select: none;
}
