.product-detail {
    padding: 50px 100px 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-detail .detail {
    display: inline;
    padding-left: 50px;
}

.product-detail .product-description img {
    object-fit: cover;
    width: 100%;
}

.product-detail .add-btn {
    display: flex;
    align-content: center;
    width: fit-content;
    flex-direction: row;
    align-items: center;
}

.product-detail .add-btn p {
    margin: 0;
    padding-right: 10px;
    font-size: 18px;
    font-weight: 500;
    user-select: none;
}

.product-detail .add-btn i {
    color: #4477CE;
}

.product-detail .add-btn i:hover {
    cursor: pointer;
}

.product-detail .buy-block {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 20px 0;
    margin: 20px 0 50px;
}

.buy-block .price {
    font-size: 2rem;
    font-weight: bold;
}

.add-btn input {
    width: 50px;
    margin-right: 10px;
    padding-left: 5px;
    border-radius: 5px;
}
