.search-page {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.filter {
  height: 100%;
  width: 350px;
  padding: 100px 25px 0 100px;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.search-result {
  padding-left: 100px;
}

.search-result .result-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter .category {
  font-size: 18px;
  font-weight: 500;
  color: #272829; 
}

.category-element {
  color: gray;
  margin-bottom: 10px;
  display: inline;
  display: flex;
  justify-content: space-between;
}

.category-element p {
  margin: 0;
}

.category-element i {
  display: flex;
  align-self: center;
}

.category-element:hover {
  cursor: pointer;
  color: #337CCF;
}

.search-term {
  color: #272829; 
  font-size: 16px;
  margin: 0 0 -20px 0;
  padding: 20px 0 0 25px;
}

.filter-by-price {
  border: none;
  width: 100%;
  font-size: 20px;
  padding: 5px 0 5px 0;
  border-radius: 5px;
  background-color: #337CCF;
  color: white;
  margin-top: 5px;
}

.filter-by-price:hover {
  background-color: #1450A3;
}

.category-element input {
  width: 40%;
  border: solid 2px grey;
  border-radius: 3px;
  padding-left: 10px;
  padding-top: 3px;
}

.category-element input::placeholder {
  font-size: 14px;
  margin: 0;
}